@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Profesión</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in @Model.userList)
{
    
        <tr>
        <td>@user.Id</td>
        <td>@user.Nombre</td>
        <td>@user.Apellido</td>
        <td>@user.Email</td>
        <td>@user.Profesion</td>
        <td>@user.Name</td>
        <td>@user.Lastname</td>
        </tr>
}
    </tbody>
</table>
